body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content{
    min-width: 1100px;
}

.header{
    width: 100%;
    height: 70px;
    background: red;
    display: flex;
    justify-content: center;
}

.header-content{
    height: 100%;
    background: yellowgreen;
}

.notice{
    width: 100%;
    height: 240px;
    background: green;
    display: flex;
}

.notice-item{
    width: 50%;
    height: 100%;
}

.notice-left{
    background: tan;
}

.notice-right{
    background: indigo;
}

.filter{
    height: 120px;
    background: yellow;
}

.home-hot-container{
    min-height: 600px;
    background: palegoldenrod;
    display: flex;
}

.hot-list{
    min-height: 600px;
    width: 70%;
    background: darkgray;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hot-item{
    width: 30%;
    height: 180px;
    margin-top: 10px;
    background: chartreuse;
}

.obj-list{
    min-height: 600px;
    width: 30%;
    background: violet;
    display: flex;
    flex-direction: column;
}

.obj-item{
    width: 90%;
    height: 70px;
    margin-top: 10px;
    align-self: center;
    background: beige;
}